<script>
	var handler = function (e) { 
		handler.timestamp.push(e.timeStamp);


		if ( first_stroke ){
			first_stroke = false;
			handler.beginTime = handler.timestamp[0];

		}

		var n = handler.timestamp.length;
		handler.endTime = handler.timestamp[n-1];
		handler.keycount++;

		if ( handler.timestamp[n-1]-handler.timestamp[n-2] > 10000 ){
			handler.idleTime += handler.timestamp[n-1]-handler.timestamp[n-2];
		}
		document.getElementById('keystroke').value = 'begin: ' + handler.beginTime + ', end: ' + handler.endTime + ', keycount: '+ handler.keycount + ', idleTime: ' + handler.idleTime;

	}
	first_stroke = true;
	handler.beginTime = 0;
	handler.endTime = 0;
	handler.keycount = 0;
	handler.idleTime = 0;
	handler.timestamp = [];
	window.addEventListener("keyup", handler);
	document.onreadystatechange = function () {
		if ( document.getElementById('assignment_id_box').innerHTML != 'ASSIGNMENT_ID_NOT_AVAILABLE'){
			document.getElementById('preview_div').style.display = 'none';
			document.getElementById('task_div').style.display = 'inline';
		}
	}
</script>

<div id="preview_div">
	

		<% if @review == 'g' or @review == 'b' %>
			<h1>Transcription review task</h1>
			<p>In this task you will be given a five minute audio clip and a transcription. Your task is to listen to the audio and fix any problems in the transcription or fill in any missing parts.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% else %>
			<h1>Transcription task</h1>
			<p>In this task you will be given a one minute audio clip to transcribe. We are aiming at a near real-time transcription so you will have <span style="text-decoration: underline">4 minutes</span> to complete the task.</p>
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted. If your accuracy is between 50-60% you will be given a chance to fix your errors.</p>
			<p>You will see the audio clip after you accept the task.</p>
		<% end %>



	</div>

	<div id="task_div"  style="display:none">
		<h1>New Transcription</h1>

		<% if @review == 'g' or @review == 'b' %>
			<p>In this task you will be given a five minute audio clip and a transcription. Your task is to listen to the audio and fix any problems in the transcription or fill in any missing parts.</p>
			<p>If you have any questions, email us at researchproject97@gmail.com</p>
		<% else %>
			<p>This is a <span style="text-decoration: underline">timed task</span>, once accepted you have 4 minutes to complete the task, be mindful of your time. </p> 
			<p>If you achieve a 60% accuracy with the audio your work will be a accepted and you will earn 50 cents (if your accuracy is between 50-60% you will be given a chance to fix your errors). So please submit your work even if it is not complete. </p>
			<p>If you have any questions, email us at researchproject97@gmail.com</p>

			<p>Listen to the following audio clip and transcribe it:</p>
				
		<% end %>
		<div style="display: none;" id="assignment_id_box"><%= @assignment_id  %></div>

		<audio controls>
			<source src= <%= "https://stanford.edu/~niloufar/audio/"+@audioid+".mp3" %> type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>

		<%= render 'form' %>

	</div>
