<h1>New Transcription</h1>

<p>Listen to the following audio clip and transcribe it:</p>
<p>If you have any questions, email us at researchproject97@gmail.com</p>
<audio controls>
  <source src="http://stanford.edu/~niloufar/nightsky.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
</audio>

<%= render 'form' %>


